.login_bg{
    background-color: #f7f9fa;
    
    min-height: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    font-family:  "Microsoft YaHei",Georgia,"Merriweather","PT Serif","Times New Roman",serif;
}
.login-form-section{
	color: #95a5a6;
    width: 100%;
    max-width: 300px;
    background-color: white;
    border:1px solid #e8e8e8;
}
.submit_login_button{
   padding: 7px 113px;
   border: none;
}
.remember_me {margin-top: 12px;}
.other_login_type{
    margin-top:20px;
} 
.other_login_type a{
    margin-right:4px;
}
.section-title {
    padding: 10px 20px 0px 20px;
    background-color: white;
}
.section-title h3 {
    font-size: 18.5px;
    font-weight: 500;
    line-height: 1.1;
    color: #2bbbb2;
}
.textbox-wrap h4 {
    font-weight: 300;
    line-height: 1.1;
}
.textbox-wrap .input-group {
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
}
.textbox-wrap {
    padding: 8px 20px;
}
.textbox-wrap .input-group .input-group-addon, .textbox-wrap .input-group input{
    box-shadow: none;
    outline: none;
    background-color: transparent;
    border: none;
}

.login-form-links {
    margin-top: 5px;
    background-color: white;
}

.login-form-action {
    padding: 10px 20px 20px 20px;
}


.login-form-action .green-btn{
    border-radius: 0;
}
.return_link{
    position:absolute;top:-30px;
}
.return_link a , .return_link i{
    color:#2bbbb2; 
    margin-right: 4px;
}
.register_success_info{
    text-align:center;border:2px dashed #2bbbb2;padding:20px;color:#2bbbb2;display:none;margin-top:160px;
}
.register_success_info a{
    color:#2bbbb2;text-decoration: underline;
}
.app-btn {
    padding: 7px 16px;
    border: none;
}
.app-btn-wrap{
    margin-top: 10px;
}
#register_form{
    margin:120px auto;
    max-width: 360px;    
}
.submit_register{
    padding: 7px;
    border: none;
}
.navbar .container {
    width: 940px;
}
#active_mail{
	color:#b53f3f;	
}
.login_error{
	margin-bottom:10px;color:red;margin-left:2px;display:none;
}
