.login_bg{
    background-color: #f7f9fa;
    padding: 40px 0;
    min-height: 100%;
    overflow: hidden;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    font-family:  "Microsoft YaHei",Georgia,"Merriweather","PT Serif","Times New Roman",serif;
}
.login-form-section{
	color: #95a5a6;
    width: 100%;
    max-width: 300px;
    background-color: white;
    border:1px solid #e8e8e8;
}

.remember_me {margin-top: 12px;}
.other_login_type{
    margin-top:20px;
} 
.other_login_type a{
    margin-right:4px;
}
.section-title {
    padding: 10px 20px;
    background-color: white;
}
.section-title h3 {
    font-size: 18.5px;
    font-weight: 500;
    line-height: 1.1;
    color: #2ecc71;
}
.textbox-wrap h4 {
    font-weight: 300;
    line-height: 1.1;
}
.textbox-wrap .input-group {
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
}
.textbox-wrap {
    padding: 8px 20px;
}
.textbox-wrap .input-group .input-group-addon, .textbox-wrap .input-group input{
    box-shadow: none;
    outline: none;
    background-color: transparent;
    border: none;
}

.login-form-links {
    margin-top: 5px;
    background-color: white;
}

.login-form-action {
    padding: 15px 20px 30px 20px;
}
.login-form-section .green {
    color: #2ecc71;
}
.login-form-section .blue {
    color: #3498db;
}

.login-form-action .green-btn{
    border-radius: 0;
}
.return_link{
    color:#fff;position:absolute;top:160px;
}
.return_link a , .return_link i{
    color:#fff;  
    margin-right: 4px;
}
.register_success_info{
    text-align:center;border:2px dashed #fff;padding:20px;color:#fff;display:none;
}
.register_success_info a{
    color:#fff;text-decoration: underline;
}